<mat-card class="list-wrapper" *ngIf="list$ | async as list">
  <div class="list-header">
    <label class="list-header-label">{{list.title}}</label>
    <mat-icon class="delete-icon" svgIcon="delete-icon" (click)="deleteList(list.id)"></mat-icon>
  </div>
  <div 
      cdkDropList
      id="{{listId}}"
      class="list-content" 
      [cdkDropListData]="list.cards"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="connectedListsIds">
    <app-card-details 
      class="card" *ngFor="let card of list.cards"
      cdkDrag [title]="card" [id]="card">
    </app-card-details>
  </div>
  <mat-card-actions class="list-actions">
    <button class="list-action-button" mat-button (click)="showEditableForm()" *ngIf="!isEditableFormVisible">
      <mat-icon class="plus-icon" svgIcon="plus-icon" aria-hidden="false"></mat-icon> Add new card
    </button>
    <app-editable-form
      *ngIf="isEditableFormVisible"
      [placeholderValue]="'Enter a title for new card'"
      [inputDefaultValue]="''"
      (closeButtonClickedEvent)="closeEditableForm()"
      (submitButtonClickedEvent)="addNewCard($event)">
    </app-editable-form>
  </mat-card-actions>
</mat-card>