<div class="window-sidebar">
  <div class="actions">
    <div class="actions-title">ADD TO CARD</div>
    <button mat-flat-button class="sidebar-button" (click)="openNewChecklistModal()">
      <mat-icon class="icon" svgIcon="{{checkboxIcon}}"></mat-icon>
      <span class="action-label">Checklist</span>
    </button>
    <button mat-flat-button class="sidebar-button" (click)="deleteCard()">
      <mat-icon class="icon" svgIcon="{{deleteIcon}}"></mat-icon>
      <span class="action-label">Delete</span>
    </button>
  </div>
</div>
