<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row class="mat-toolbar-row">
    <div class="board-icon">
      <button class="home-icon-button" mat-flat-button routerLink="{{dashboardUrl}}">
        <mat-icon class="home-icon" svgIcon="home-icon" aria-hidden="false"></mat-icon>
      </button>
    </div>
    <div class="inner-header">
      <div class=board-name>
        <label>{{getHeaderTitle()}}</label>
      </div>
    </div>
    <div class="account-icon">
      <button class="account-icon-button" mat-flat-button>
        <mat-icon svgIcon="account-icon" aria-hidden="false"></mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>