.checklist-item {
  // margin-top: 10px;
  display: flex;
  // height: 32px;
}

.checklist-item:hover {
  background-color: #dfe1e6;
}

.check-icon {
  transform: scale(0.75);
  width: 40px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;
  color: gray;
}

.item-text {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-item-button {
  transform: scale(0.5);
  background-color: rgba(9,30,66,.08);
}

.delete-item-icon {
  color: black;
  transform: scale(0.75);
}

.checklist-content {
  width: 100%;
}

p {
  margin: 5px 0px;
}

.editable-item-form {
  width: 100%;
  padding-right: 10px;
}

.input-wrapper {
  width: 100%;
}

.close-icon {
  transform: scale(0.75);
  color: black;
}

.close-button {
  margin-left: 10px;
  transform: scale(0.75);
  background-color: rgba(9,30,66,.08);
}