<div class="checklist-item ">
  <div class="check-icon">
    <mat-icon svgIcon='{{checkItemIcon}}' (click)="toggleCheckbox()"></mat-icon>
  </div>
  <div class="checklist-content">
    <div class="item-text" *ngIf="!isEditableFormVisible">
      <p (click)="showEditableForm()">{{item.text}}</p>
      <button mat-mini-fab class="delete-item-button" (click)="deleteItem()">
        <mat-icon class="delete-item-icon" (click)="resetItemText()" svgIcon="close-icon"></mat-icon>
      </button> 
    </div>
    <div class="editable-item-form" *ngIf="isEditableFormVisible">
      <mat-form-field class="input-wrapper">
        <input matInput value="{{item.text}}" (change)="onItemTextChange($event)"/>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="saveItemText()">Save</button>
        <span><button class="close-button" mat-mini-fab (click)="hideEditableForm()">
          <mat-icon class="close-icon" svgIcon="{{closeIcon}}"></mat-icon>
        </button></span>
    </div>
  </div>
</div>
