<div class="checklist" *ngIf="checklistItems$ | async as items">
  <div class="checklist-header">
    <div class="checklist-icon"><mat-icon svgIcon="{{checkboxIcon}}"></mat-icon></div>
    <div class="header-content">
      <div><h3 class="header-title" *ngIf="checklist$ | async as checklist">{{checklist.title}}</h3></div>
      <button mat-flat-button class="delete-button" (click)="deleteChecklist()">Delete</button>
    </div>
  </div>
  <div class="checklist-progress-bar">
    <div class="progress-percentage">{{calculateProgressPercentage()}}%</div>
    <div class="progress-bar"><mat-progress-bar mode="determinate" value="{{calculateProgressPercentage()}}"></mat-progress-bar></div>
  </div>
  <div 
    class="checklist-items"
    cdkDropList
    [cdkDropListData]="items"
    (cdkDropListDropped)="drop($event)">
      <app-checklist-item
        *ngFor="let item of items" [item]="item" cdkDrag class="checklist-item">
      </app-checklist-item>
    <button 
      class="add-item-button" 
      mat-flat-button (click)="showEditableForm()"
      *ngIf="!isEditableFormVisible">
        Add an item
    </button>
    <div class="editable-item-form" *ngIf="isEditableFormVisible">
      <app-editable-form
      [placeholderValue]="'Enter a text for new item'"
      [inputDefaultValue]="''"
      (closeButtonClickedEvent)="closeEditableForm()"
      (submitButtonClickedEvent)="addNewItem($event)">
    </app-editable-form>
  </div>
  </div>
</div>
