<div class="card-description">
  <div class="description-header">
    <div class="description-icon"><mat-icon svgIcon="description-icon"></mat-icon></div>
    <div class="column">
      <div><h3 class="description-label">Description</h3></div>
      <div class="description-content">
        <div class="current"><p>Description</p></div>
        <!-- <div class="editable-form">
          <mat-form-field appearance="outline">
            <input matInput />
          </mat-form-field>
          <button mat-raised-button color="primary">Save</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
