.card-description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 24px;
}

.description-header {
  display: flex;
}

.description-icon {
  transform: scale(0.75);
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40px;
}

.description-label {
  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
  padding: 0px 10px;
  margin: 12px 0px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description-content {
  padding-left: 10px;
}

.current {
  height: 100%;
  background-color: rgba(9,30,66,.08);
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.current p {
  padding: 0px 10px;
}

.mat-form-field {
  width: 100%;
}

.close-icon {
  transform: scale(0.75);
  color: black;
}

.close-button {
  margin-left: 10px;
  transform: scale(0.75);
  background-color: rgba(9,30,66,.08);
}