.container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-x: inherit;
}

.header-container {
  position: fixed;
  height: 44px;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.board-container {
  margin-top: 44px;
  height: 100%;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.board-lists {
  height: 100%;
}

.board-list {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0),
              0 8px 10px 1px rgba(0, 0, 0, 0),
              0 3px 14px 2px rgba(0, 0, 0, 0);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.board-list:last-child {
  border: none;
}

.board-lists.cdk-drop-list-dragging .board-list:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add-new-list-container {
  margin: 10px 4px 0px 10px;
  background-color: transparent;
  z-index: 1;
  width: 272px;
}

.editable-form {
  background-color: #dfe1e6;
  border-radius: 4px;
}

.add-new-list {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  width: 272px;
  z-index: 1;
  border-radius: 4px;
  align-items: center;
}

.plus-icon {
  transform: scale(0.5);
  color: #6b778c;
}

.add-list-button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: hsla(0,0%,100%,.8);
}