<div class="container" *ngIf="board$ | async as board">
  <img src="{{getBackgroundImage(board.backgroundIndex)}}" />
  <div class="header-container">
    <app-header></app-header>
  </div>

  <div class="board-container">
    <div
      cdkDropList [cdkDropListData]="board.lists"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="board.lists"
      class="board-lists" style="display: flex" 
      cdkDropListOrientation="horizontal">
        <app-list
          cdkDrag *ngFor="let list of board.lists" 
          class="board-list" [listId]="list"
          [connectedListsIds]="board.lists">
        </app-list>
    </div>
  </div>
</div>