<div class="card-window" *ngIf="card$ | async as card">
  <div class="close-icon"><mat-icon svgIcon="close-icon" (click)="closeDialog()"></mat-icon></div>
  <div class="window-header">
    <div class="card-icon"><mat-icon svgIcon="card-icon"></mat-icon></div>
    <div class="card-title" (click)="showEditableForm()" *ngIf="!isEditFieldVisible">{{card.title}}</div>
    <app-editable-form
      *ngIf="isEditFieldVisible"
      class="edit-card-title"
      (closeButtonClickedEvent)="closeEditableForm()"
      (submitButtonClickedEvent)="saveCardTitle($event, card.id)"
      [inputDefaultValue]="card.title"
      [placeholderValue]="">
    </app-editable-form>
  </div>
  <div class="window-content">
    <div class="window-main-content">
      <app-card-description [card]="card"></app-card-description>
      <app-checklist *ngFor="let id of card.checklists" 
        [cardId]="card.id" [checklistId]="id" [listId]="card.list">
      </app-checklist>
    </div>
    <app-card-details-sidebar class="window-sidebar"></app-card-details-sidebar>
  </div>
</div>