@import '@angular/material/prebuilt-themes/indigo-pink.css';

@mixin cardWindow {
  .mat-dialog-container {
    background-color: #f4f5f7;
    padding: 15px 10px 15px 10px !important;
  }
  .mat-tab-label {
    width: 100%;
  }
  .mat-tab-body-wrapper {
    flex: 1;
  }
  // .mat-form-field-wrapper {
  //   // padding-bottom: 5px;
  // }
}
@include cardWindow();

html, body {
  height: 100vh;
}

body {
  margin: 0px;
}
